* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

article,
footer {
    padding: 1rem 1rem 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.gallery {
    padding: 5px;
    margin: 2rem auto auto 0rem;
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(4, 80px);	/*#*/
    // grid-template-rows: 80px 360px;
    gap: 8px;
    //  justify-content: center;
    align-content: end;
}

@media (min-width: 576px) {
    .gallery {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .gallery {
        max-width: 720px;
    }
    article {
        margin-left: 3rem!important;
    }
}

@media (min-width: 992px) {
    .gallery {
        max-width: 960px;
    }
}

.gallery div {
    position: relative;
    grid-column: span 4;
    /*#*/
}

.img-thumb {
    padding: 0.25rem;
    max-width: 100%;
    height: auto;
    background-color: rgb(240, 185, 11);
    border-radius: 0.25rem;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -webkit-animation: animatezoom 600ms;
    animation: animatezoom 600ms;
}

@keyframes animatezoom {
    from {
        transform: scale(0.3)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0.3)
    }
    to {
        -webkit-transform: scale(1)
    }
}

.transluz {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.solid {
    opacity: 1;
    filter: alpha(opacity=100);
}

.brand {
    position: fixed;
    bottom: 0;
    width: calc(100% - 16px);
    text-align: center;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url('../../../../assets/check.png') left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.seller-detail ul li {
    margin: 0;
    list-style: none;
    background: url('../../../../assets/person.png') left center no-repeat;
    background-size: 25px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.seller-detail ul li span {
    font-weight: 400;
}

// .purchase-info{
//      margin: 1.5rem 0;
// }
.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 15%;
    text-decoration: none;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 692px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}

.linkk {
    padding-left: 1rem;
}