<header class="header mobileShow">
  <div class="container">
    <nav class="bottom-nav">
      <!-- <div class="bottom-nav-item"  routerLink="/search" routerLinkActive="active">
        <div class="bottom-nav-link">
          <i class="fas fa-search"></i>
          <span>Search</span>
        </div>
      </div> -->
      <div class="bottom-nav-item"  routerLink="/home" routerLinkActive="active">
        <div class="bottom-nav-link">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </div>
      </div>
      <div class="bottom-nav-item" routerLink="/create" routerLinkActive="active">
        <div class="bottom-nav-link">
          <i class="fas fa-plus-circle"></i>
          <span>Create</span>
        </div>
      </div>
      <div class="bottom-nav-item"  routerLink="/contact" routerLinkActive="active">
        <div class="bottom-nav-link">
          <i class="fas fa-envelope-open-text"></i>
          <span>Contact</span>
        </div>
      </div>

      <div class="bottom-nav-item" (click)="scrollToTop()">
        <div class="bottom-nav-link">
          <i class="fas fa-chevron-circle-up"></i>
          <span>Go Top</span>
        </div>
      </div>

      <!-- <div class="bottom-nav-item" routerLink="/shops" routerLinkActive="active">
        <div class="bottom-nav-link">
          <i class="fas fa-store"></i>
          <span>Shops</span>
        </div>
      </div> -->
    </nav>
  </div>
</header>