<div class="container">
<div class="row m-3 txt" >
  <div class="col-6">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Category :</label>
    <select class="custom-select mr-sm-2 border-0" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="col-6">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Governorat :</label>
    <select class="custom-select mr-sm-2 border-0" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  

</div>

<button class="txt float-right btn btn-outline-dark mr-4">Search</button><br><br> 
</div>
<div class="container-fluid  txt mb-5">
<div class="row d-flex justify-content-around">
<div class="card">
  <div class="img">
    <img src="https://rendering.documents.cimpress.io/v1/vp/preview?width=690&height=690&quality=80&scene=https://scene.products.cimpress.io/v1/scenes/39fff789-7ad5-4b08-8faf-753d0c960f48">
  </div>
  <div class="infos">
    <div class="name">
      <h2>Bradley Steve <i class="fas fa-check text-light" style="background-color: rgb(29 167 226); border-radius: 50%;padding: 3px;"></i></h2>
      <h4>@bradsteve</h4>
    </div>
    <p class="text">
      I'm a Front End Developer, follow me to be the first 
      who see my new work.
    </p>
    <ul class="stats">
      <li>
        <h3>15K</h3>
        <h4>Views</h4>
      </li>
      <li>
        <h3>82</h3>
        <h4>Projects</h4>
      </li>
      <li>
        <h3>1.3M</h3>
        <h4>Followers</h4>
      </li>
    </ul>
    <div class="icons">
    <a><i class="fab fa-instagram"></i></a>  
    <a><i class="fab fa-facebook"></i></a> 
    <a><i class="fab fa-facebook-messenger"></i></a> 
    <a><i class="fas fa-mobile-alt"></i></a> 
      </div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-danger m-1">Report</button>
      <button class="btn btn-warning m-1">Products</button>
    </div>
  </div>
</div>


  
 
</div>
  
</div>