// @media (max-width: 576px) {  
//   .xs {color:red;font-weight:bold;}
// }

// /* Small devices (landscape phones, 576px and up) */
// @media (min-width: 576px) and (max-width:768px) {  
//   .sm {color:red;font-weight:bold;}
// }
 
// /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
// @media (min-width: 768px) and (max-width:992px) {  
//  .md {color:red;font-weight:bold;}
// }
 
// /* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) and (max-width:1200px) { 
//  .lg {color:red;font-weight:bold;}
// }
 
// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {  
//     .xl {color:red;font-weight:bold;}
// }
//  .radius{
//    border-radius: 15px!important;
//  }

//  .imgr{
//   border-radius: 15px 15px 0px 0px!important;
// }



body {

  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* Utilities */
.card::after,
.card img {
  border-radius: 50%;
}
body,
.card,
.stats {
  display: flex;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 350px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card::before,
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
}
.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}
.card::after {
  height: 15rem;
  width: 15rem;
  background-color: rgb(255, 165, 0);
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
}



.name {
  margin-bottom: 1rem;
}
.name h2 {
  font-size: 1.3rem;
}
.name h4 {
  font-size: .8rem;
  color: #333
}

.text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.stats {
  padding: 1rem;
}
.stats li {
  min-width: 5rem;
}
.stats li h3 {
  font-size: .99rem;
}
.stats li h4 {
  font-size: .75rem;
}
.icons{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
  gap: 30px;
  
}


@media screen and (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
 
}
